[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

twarc = "*"
jupyter = "*"
networkx = "*"
bokeh = "*"
pandas = "*"
python-louvain = "*"
plotly = "*"
geopy = "*"


[dev-packages]



[requires]

python_version = "3.6"
